## Connect to Jnet SQL database and obtain the 8 state information

Runs in conda env: keras where mysql-connector-python package is installed

Code I use is derived from https://dev.mysql.com/doc/connector-python/en/connector-python-example-connecting.html and from jpred training code (trunk/lib/Jpred/jnetDB.pm)

In [1]:
import mysql.connector

In [2]:
cnx = mysql.connector.connect(
    host="gjb-mysql-1.cluster.lifesci.dundee.ac.uk",
    user="jnet-user",
    password="T1SVDMwOfzlLZks",
    database='jnet'
)
query="SELECT seq_id,domain,dssp FROM query WHERE seq_id BETWEEN 24695 AND 26201"
statement=bytes(query,'utf-8')
stmt=cnx.cmd_stmt_prepare(statement=statement)
assert stmt.stmt_execute()

In [3]:
with open ('/cluster/gjb_lab/2472402/data/1507_sec.csv','w+') as f:
    # write header
    f.write('seqID,domain,dssp')
    while (True):
        row=stmt.fetch_row()
        if (row==None):
            break
        else:
            f.write(','.join([str(r) for r in row]))
            f.write('\n')

cnx.close()

In [4]:
%whos

Variable    Type                Data/Info
-----------------------------------------
cnx         CMySQLConnection    <mysql.connector.connecti<...>object at 0x2b6cc3fc7438>
f           TextIOWrapper       <_io.TextIOWrapper name='<...>de='w+' encoding='UTF-8'>
mysql       module              <module 'mysql' from '/cl<...>kages/mysql/__init__.py'>
query       str                 SELECT seq_id,domain,dssp<...>d BETWEEN 24695 AND 26201
row         NoneType            None
statement   bytes               b'SELECT seq_id,domain,ds<...> BETWEEN 24695 AND 26201'
stmt        MySQLPrepStmt       <_mysql_connector.MySQLPr<...>object at 0x2b6cc30fc4b0>